.contentAnimationEnter {
    transform: translate(0,-50%) scale(1,-0.01);
}

.contentAnimationEnterActive {
    transition: transform 300ms;
    transform: translate(0) scale(1);
}

.contentAnimationExit{

}

.contentAnimationExitActive {
    transform: translate(0,-50%) scale(1,-0.01);
    transition: transform 300ms;
}

.container {
    position: absolute;
    z-index: 1000;
}

.slidingEnter {
    transform: translate(100%,0) scale(0.01,1);
}

.slidingActive {
    transition: transform 300ms;
    transform: translate(0) scale(1);
}

.slidingAnimationExit {

}

.slidingAnimationExitActive {
    transform: translate(80%,0) scale(0.01,1);
    transition: transform 300ms;
}

.slidingContainer {
    display: flex;
    max-width: 450px;
    overflow: auto;
}
