
.overlayAnimationEnter {
    opacity: 0;
    transform: scale(0.01);
}

.overlayAnimationEnterActive {
    transition: opacity 300ms ease-out;
    opacity: 1;
    transform: scale(1);

}

.contentAnimationEnter {
    opacity: 0;
    transform: scale(0,01);
}

.contentAnimationEnterActive {
    transition: opacity 100ms ease-out 200ms, transform 100ms ease-out 200ms;
    opacity: 1;
    transform: scale(1);
}

.contentAnimationExit {
  opacity: 1;
}
.contentAnimationExitActive {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 300ms, transform 300ms;
}

.content {
    min-width: 1200px;
    min-height: 80vh;

}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.6);
  cursor: pointer;
}

.container {
  position: fixed;
  box-sizing: border-box;

  padding: 36px;
  z-index: 1;

  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}
